html,body {
    background: var(--bg);
    max-width: 100vw;
    color: var(--text);

}

*{
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    font-weight: bold;
    text-decoration: none !important;
    cursor: pointer;

}

button,
svg {
    cursor: pointer;
}



.not_foound_page{
    background: black;
    height: 100vh;
    display: flex;justify-content: center;align-items:center;


    p{
        color: white;
        display: inline;
    
    }
    h6{
        display: inline;
        margin-inline:20px;
        height: 140px !important;
        
        width: 20px;
    }
    .container-not-found{
        display: flex;
        flex-direction: column;
        align-items: center;
        div{
            display: flex;justify-content: center;align-items: center;

        }
        button{
            border: none;
            outline: none;
            padding: 8px;
            border-radius: 10px;

            margin-inline:30px;
        }
    }
}
// .slick-active{
//     // display: none !important;
//     color: #fff !important;
//     // background: Fff;
//     button{
//         color: #fff !important; 
//         background: #fff !important;
//     }
// }

            .slick-dots-bottom{
                li{
                 button {
                    margin-top: 20px !important;
                    }   
                } 
            } 

.Main_footer{
    padding-top: 5px;
}
.icons_social{
    // background: #ffffff;
    font-size: 10px !important;
    .icon{
        padding-inline: 10px;
        width: 16% !important;
        color: #fff !important;
    }
}

.partner_image{
    width: 100%;
    display: flex;justify-content: space-between;
    margin-inline: 10px !important;
    // background: #000 !important;
}